<button type="button" class="btn btn-primary" (click)="getUSers1()">Первый запрос</button>
<br>
<button type="button" class="btn btn-primary" (click)="getUSers2()">Второй запрос</button>
<br>
<button type="button" class="btn btn-primary" (click)="postUser3()">Третий запрос</button>
<br>
<button type="button" class="btn btn-primary" (click)="getUSers4()">Четвертый запрос</button>
<br>
<button type="button" class="btn btn-primary" (click)="getUSers5()">Пятый запрос</button>
<br>
<button type="button" class="btn btn-primary" (click)="deleteUsers6()">Шестой запрос</button>
<br>
<a routerLink="/res">Component 2</a>
<router-outlet></router-outlet>