<div  class="but"><button (click)="getCounter()">Запустить получение данных</button>
</div>
  <br>


<div class="row">
<div class="column">
  <button *ngIf="enableStopButton" (click)="stopSubs()">
    Остановить поток данных для массива простых чисел
  </button>
  <p *ngFor="let count of array">{{ count }}</p>
</div>

<div class="column">
  <button *ngIf="enableStopButton" (click)="stopSubsRand()">
    Остановить поток данных для масива случайных чисел
  </button>
  <p *ngFor="let count of arrayRand">{{ count }}</p>
</div>
</div>